In [1]:
import pandas as pd

In [2]:
df1=pd.read_csv("FAOSTAT_data - FAOSTAT_data_en_12-29-2024.csv")

In [3]:
df1

,Domain Code,Domain,Area Code (M49),Area,Element Code,Element,Item Code (CPC),Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
0,QCL,Crops and livestock products,4,Afghanistan,5312,Area harvested,1371,"Almonds, in shell",2019,2019,ha,29203.00,A,Official figure,NaN
1,QCL,Crops and livestock products,4,Afghanistan,5412,Yield,1371,"Almonds, in shell",2019,2019,kg/ha,1308.30,A,Official figure,NaN
2,QCL,Crops and livestock products,4,Afghanistan,5510,Production,1371,"Almonds, in shell",2019,2019,t,38205.00,A,Official figure,NaN
3,QCL,Crops and livestock products,4,Afghanistan,5312,Area harvested,1371,"Almonds, in shell",2020,2020,ha,22134.00,A,Official figure,NaN
4,QCL,Crops and livestock products,4,Afghanistan,5412,Yield,1371,"Almonds, in shell",2020,2020,kg/ha,1775.90,A,Official figure,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224642,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,22221.01,"Whole milk, evaporated",2019,2019,t,5010.21,I,Imputed value,NaN
224643,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,22221.01,"Whole milk, evaporated",2020,2020,t,4795.70,I,Imputed value,NaN
224644,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,22221.01,"Whole milk, evaporated",2021,2021,t,4921.05,I,Imputed value,NaN
224645,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,22221.01,"Whole milk, evaporated",2022,2022,t,4966.37,I,Imputed value,NaN
224646,QCL,Crops and livestock products,716,Zimbabwe,5510,Production,24212.02,Wine,2019,2019,t,NaN,A,Official figure,NaN

In [4]:
df= df1.pivot_table(
    index=['Area Code (M49)','Area','Element Code','Item Code (CPC)','Item','Year','Unit'],    # Grouping keys
    columns='Element',                # Values in 'Element' become new columns
    values='Value',                   # Fill values from this column
    aggfunc='first'                   # In case of duplicates
).reset_index()

In [5]:
exclude_keywords = [
    'Cattle', 'Camels', 'Sheep', 'Goats', 'Horses', 'Asses', 'Hen eggs in shell, fresh',
    'Eggs from other birds in shell, fresh, n.e.c.', 'Mules and hinnies', 'Chickens',
    'Raw milk of cattle', 'Raw milk of sheep', 'Raw milk of goats', 'Raw milk of camel',
    'Meat of cattle with the bone, fresh or chilled', 'Meat of sheep, fresh or chilled',
    'Meat of goat, fresh or chilled', 'Meat of camels, fresh or chilled',
    'Edible offal of cattle, fresh, chilled or frozen', 'Edible offal of sheep, fresh, chilled or frozen',
    'Edible offal of goat, fresh, chilled or frozen', 'Edible offals of camels and other camelids, fresh, chilled or frozen',
    'Cattle fat, unrendered', 'Sheep fat, unrendered', 'Goat fat, unrendered', 'Fat of camels',
    'Raw hides and skins of cattle', 'Raw hides and skins of sheep or lambs',
    'Raw hides and skins of goats or kids', 'Meat of chickens, fresh or chilled',
    'Game meat, fresh, chilled or frozen', 'Buttermilk, dry', 'Butter of cow milk',
    'Butter and ghee of sheep milk', 'Cheese from milk of sheep, fresh or processed',
    'Cheese from milk of goats, fresh or processed', 'Raw silk (not thrown)', 'Natural honey',
    'Shorn wool, greasy, including fleece-washed shorn wool', 'Silk-worm cocoons suitable for reeling',
    'Buffalo', 'Swine / pigs', 'Turkeys', 'Bees', 'Raw milk of buffalo',
    'Meat of buffalo, fresh or chilled', 'Meat of pig with the bone, fresh or chilled',
    'Horse meat, fresh or chilled', 'Meat of asses, fresh or chilled',
    'Edible offal of buffalo, fresh, chilled or frozen', 'Edible offal of pigs, fresh, chilled or frozen',
    'Edible offals of horses and other equines,  fresh, chilled or frozen',
    'Fat of pigs', 'Buffalo fat, unrendered', 'Raw hides and skins of buffaloes',
    'Meat of turkeys, fresh or chilled', 'Mushrooms and truffles', 'Other meat of mammals, fresh or chilled',
    'Meat of rabbits and hares, fresh or chilled', 'Cheese from skimmed cow milk',
    'Pig fat, rendered', 'Meat of ducks, fresh or chilled', 'Meat of geese, fresh or chilled',
    'Tallow', 'Cream, fresh', 'Whey, dry', 'Whole milk powder', 'Skim milk and whey powder',
    'Whole milk, evaporated', 'Whole milk, condensed', 'Ghee from cow milk',
    'Whey, condensed', 'Skim milk, condensed', 'Yoghurt',
    'Cheese from milk of buffalo, fresh or processed', 'Butter of buffalo milk',
    'Ghee from buffalo milk', 'Meat of other domestic camelids, fresh or chilled',
    'Meat of other domestic rodents, fresh or chilled', 'Meat of pigeons and other birds n.e.c., fresh, chilled or frozen',
    'Skim milk, evaporated', 'Snails, fresh, chilled, frozen, dried, salted or in brine, except sea snails',
    'Raw milk of buffalo'
]

# Use `isin()` with negation to filter out the rows
df = df[~df['Item'].isin(exclude_keywords)]

In [6]:
df.shape

(150069, 15)

In [7]:
df['Year'] = pd.to_datetime(df['Year'], format='%Y')

In [8]:
df.isna().sum()

Element
Area Code (M49)                       0
Area                                  0
Element Code                          0
Item Code (CPC)                       0
Item                                  0
Year                                  0
Unit                                  0
Area harvested                   102170
Laying                           150069
Milk Animals                     150069
Producing Animals/Slaughtered    150054
Production                        93855
Stocks                           149123
Yield                            105089
Yield/Carcass Weight             150054
dtype: int64

In [9]:
columns_to_remove=["Yield/Carcass Weight","Laying","Milk Animals","Producing Animals/Slaughtered","Stocks"]
df=df.drop(columns=columns_to_remove)

In [10]:
df = df.fillna(df.median(numeric_only=True))

In [11]:
item_code_counts = df.groupby('Item')['Item Code (CPC)'].nunique()
non_unique_items = item_code_counts[item_code_counts > 1]
if non_unique_items.empty:
    print("✅ Each item has a unique item code.")
else:
    print("❌ The following items have multiple item codes:")
    print(non_unique_items)

❌ The following items have multiple item codes:
Item
Grapes    2
Name: Item Code (CPC), dtype: int64

In [12]:
df.loc[df['Item'] == 'Grapes', 'Item Code (CPC)'] = 1330

In [13]:
df['Area'] = df['Area'].replace({
    "C�te d'Ivoire": "Ivory Coast",
    "Côte d'Ivoire": "Ivory Coast"
})

In [14]:

df['Area'] = df['Area'].replace({
    "T�rkiye": "Turkey",
    "Türkiye": "Turkey"
})

In [15]:
df['Area'].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Angola',
       'Antigua and Barbuda', 'Azerbaijan', 'Argentina', 'Australia',
       'Austria', 'Bahamas', 'Bahrain', 'Bangladesh', 'Armenia',
       'Barbados', 'Belgium', 'Bhutan',
       'Bolivia (Plurinational State of)', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'Belize', 'Solomon Islands',
       'Brunei Darussalam', 'Bulgaria', 'Myanmar', 'Burundi', 'Belarus',
       'Cambodia', 'Cameroon', 'Canada', 'Cabo Verde',
       'Central African Republic', 'Sri Lanka', 'Chad', 'Chile',
       'China, mainland', 'China, Taiwan Province of', 'China',
       'Colombia', 'Comoros', 'Congo', 'Democratic Republic of the Congo',
       'Cook Islands', 'Costa Rica', 'Croatia', 'Cuba', 'Cyprus',
       'Czechia', 'Benin', 'Denmark', 'Dominica', 'Dominican Republic',
       'Ecuador', 'El Salvador', 'Equatorial Guinea', 'Ethiopia',
       'Eritrea', 'Estonia', 'Faroe Islands', 'Fiji', 'Finland', 'France',
       'French Polynesia', 'Djibouti', 'Gabon', 'Georgia', 'Gambia',
       'Palestine', 'Germany', 'Ghana', 'Kiribati', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guyana', 'Haiti', 'Honduras',
       'China, Hong Kong SAR', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran (Islamic Republic of)', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Ivory Coast', 'Jamaica', 'Japan', 'Kazakhstan', 'Jordan', 'Kenya',
       "Democratic People's Republic of Korea", 'Republic of Korea',
       'Kuwait', 'Kyrgyzstan', "Lao People's Democratic Republic",
       'Lebanon', 'Lesotho', 'Latvia', 'Liberia', 'Libya', 'Lithuania',
       'Luxembourg', 'China, Macao SAR', 'Madagascar', 'Malawi',
       'Malaysia', 'Maldives', 'Mali', 'Malta', 'Mauritania', 'Mauritius',
       'Mexico', 'Mongolia', 'Republic of Moldova', 'Montenegro',
       'Morocco', 'Mozambique', 'Oman', 'Namibia', 'Nauru', 'Nepal',
       'Netherlands (Kingdom of the)', 'New Caledonia', 'Vanuatu',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'Norway',
       'Micronesia (Federated States of)', 'Marshall Islands', 'Pakistan',
       'Panama', 'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines',
       'Poland', 'Portugal', 'Guinea-Bissau', 'Timor-Leste',
       'Puerto Rico', 'Qatar', 'Romania', 'Russian Federation', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Sao Tome and Principe',
       'Saudi Arabia', 'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone',
       'Singapore', 'Slovakia', 'Viet Nam', 'Slovenia', 'Somalia',
       'South Africa', 'Zimbabwe', 'Spain', 'South Sudan', 'Sudan',
       'Suriname', 'Eswatini', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Thailand', 'Togo',
       'Tokelau', 'Tonga', 'Trinidad and Tobago', 'United Arab Emirates',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Tuvalu', 'Uganda', 'Ukraine',
       'North Macedonia', 'Egypt',
       'United Kingdom of Great Britain and Northern Ireland',
       'United Republic of Tanzania', 'United States of America',
       'Burkina Faso', 'Uruguay', 'Uzbekistan',
       'Venezuela (Bolivarian Republic of)', 'Samoa', 'Yemen', 'Zambia'],
      dtype=object)

In [16]:
df.dtypes

Element
Area Code (M49)             int64
Area                       object
Element Code                int64
Item Code (CPC)            object
Item                       object
Year               datetime64[ns]
Unit                       object
Area harvested            float64
Production                float64
Yield                     float64
dtype: object

In [17]:
df.isna().sum()

Element
Area Code (M49)    0
Area               0
Element Code       0
Item Code (CPC)    0
Item               0
Year               0
Unit               0
Area harvested     0
Production         0
Yield              0
dtype: int64

In [18]:
df.columns

Index(['Area Code (M49)', 'Area', 'Element Code', 'Item Code (CPC)', 'Item',
       'Year', 'Unit', 'Area harvested', 'Production', 'Yield'],
      dtype='object', name='Element')

In [19]:
df.rename(columns={'Production': 'Production (t)'}, inplace=True)

In [20]:
df.rename(columns={'Area harvested': 'Area harvested (ha)'}, inplace=True)

In [21]:
df.rename(columns={'Yield': 'Yield (kg/ha)'}, inplace=True)

In [22]:
df.drop(columns=['Unit'], inplace=True)

In [23]:
df['Item'].nunique()

193

In [24]:
df

Element,Area Code (M49),Area,Element Code,Item Code (CPC),Item,Year,Area harvested (ha),Production (t),Yield (kg/ha)
40,4,Afghanistan,5312,111,Wheat,2019-01-01,2334000.0,17220.51,5892.2
41,4,Afghanistan,5312,111,Wheat,2020-01-01,2668000.0,17220.51,5892.2
42,4,Afghanistan,5312,111,Wheat,2021-01-01,2046564.0,17220.51,5892.2
43,4,Afghanistan,5312,111,Wheat,2022-01-01,1859339.0,17220.51,5892.2
44,4,Afghanistan,5312,111,Wheat,2023-01-01,2003070.0,17220.51,5892.2
...,...,...,...,...,...,...,...,...,...
218114,894,Zambia,5510,1708,"Bambara beans, dry",2019-01-01,3009.0,6338.22,5892.2
218115,894,Zambia,5510,1708,"Bambara beans, dry",2020-01-01,3009.0,6388.82,5892.2
218116,894,Zambia,5510,1708,"Bambara beans, dry",2021-01-01,3009.0,6757.73,5892.2
218117,894,Zambia,5510,1708,"Bambara beans, dry",2022-01-01,3009.0,5828.86,5892.2
218118,894,Zambia,5510,1708,"Bambara beans, dry",2023-01-01,3009.0,7294.46,5892.2

In [25]:
df.to_csv('production.csv', index=False)

In [26]:
df=pd.read_csv("production.csv")

In [27]:
df.shape

(150069, 9)

In [28]:
df.isna().sum()

Area Code (M49)        0
Area                   0
Element Code           0
Item Code (CPC)        0
Item                   0
Year                   0
Area harvested (ha)    0
Production (t)         0
Yield (kg/ha)          0
dtype: int64

In [29]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\programdata\anaconda3\lib\site-packages (9.2.0)

In [30]:

import mysql.connector

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    # port=3306
)

mycursor = mydb.cursor(buffered=True)

In [31]:
mycursor.execute("CREATE DATABASE crop")

DatabaseError: 1007 (HY000): Can't create database 'crop'; database exists

In [45]:
mycursor.execute("USE crop")

In [ ]:
create_table_query = """
CREATE TABLE crop_data (
    Area_code INT,
    Area VARCHAR(255),
    Element_code INT,
    Item_code INT,
    Item VARCHAR(255),
    Year DATE,
    Area_harvested FLOAT,
    Production FLOAT,
    Yield FLOAT
);
"""
mycursor.execute(create_table_query)

In [ ]:
insert_query = """
INSERT INTO crop_data (
    Area_code, Area, Element_code, Item_code, Item, Year,
    Area_harvested, Production, Yield
) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

# Define the exact columns to insert
columns = [
    'Area Code (M49)', 'Area', 'Element Code', 'Item Code (CPC)', 'Item',
    'Year', 'Area harvested (ha)', 'Production (t)', 'Yield (kg/ha)'
]

# Ensure 'Year' is converted to datetime.date
df['Year'] = pd.to_datetime(df['Year']).dt.date

# Loop over the DataFrame rows and insert into MySQL
for index, row in df[columns].iterrows():
    values = tuple(row)
    mycursor.execute(insert_query, values)

# Commit the insertions
mydb.commit()

In [50]:
mycursor.execute("SELECT SUM(Production) AS total_production FROM crop_data;")
out = mycursor.fetchall()
print(out)

[(62381219313.430016,)]

In [52]:
mycursor.execute("SELECT SUM(Area_harvested) AS total_area FROM crop_data;")
out = mycursor.fetchall()
print(out)

[(8511958421.0,)]

In [54]:
mycursor.execute("SELECT SUM(Production) * 1000.0 / SUM(Area_harvested) AS avg_yield FROM crop_data;")
out = mycursor.fetchall()
print(out)

[(7328.656488679295,)]